@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
*{
	font-family: 'Squada One', cursive;
	box-sizing: border-box;
}

	section{
            
            height: 50vh;
            width: 50%;
           
            background-size: cover;
            background-position: center;
        }

	.form-container{
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 900px;
            padding: 20px 30px;
            border-radius: 6px;
            box-shadow:10px 10px 50px rgb(234, 253, 253);
	}
	ul{
		width: auto;
		height: 40px;
		margin: 0;
		list-style: none;
		padding:  0;
		display: flex;
		
	}
	li{
		height: 38px;
	}
	
	
	i{
	  font-size: 30px;
	}
	li a{
		display: block;
		padding: 5px;
		color: #fff;
		text-decoration: none;
		text-align: center;
		border-radius: 40px;
		cursor: pointer;
		transition: .1s ease all;
	}
	li a:hover{
		
		 box-shadow: 3px 0px 30px rgba(114, 131, 233, 0.17);
	     outline: none;
	     box-shadow: 3px 0px 30px
	}
	
	h1 {
		padding: 20px;
		display: flex;
		justify-content: center;
		text-align: center;
		width: 450px;
		left:50%;
		top:50%;
		transform: translatex(159%) translatey(-60%);
	}
	
	
	.formulario{
		
		display: grid;
		grid-template-columns: 1fr 1fr;
	
		gap: 10px;
	}
	
		
	
	.formulario__label{
	    font-size: 20px;
		display:block;
		font-weight: 700;
		padding: 10px;
		cursor: pointer;
	}
	
	formulario__grupo-input{
		position: center;
		
	}
	
	.formulario__input{
		width: 300px;
		background:#d5ffff ;
	    border: 3px solid transparent;
		border-radius: 6px;
		height: 45px;
		line-height: 45px;
		padding: 0 40px 0 10px;
		transition: .3s ease all;
	
	}
	
	.botones{
		
		grid-column: 1/span 2;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding: 70px;
		padding-left: 10px;
	}
	
	.formulario_btn1{
		background-color:#009999;
		font-size: 18px;
		display: block;
		padding: 10px 20px;
		color: #fff; 
		text-decoration:none;
		border-radius: 10px;
	    box-shadow:10px 10px 50px rgb(234, 253, 253);
	}
	.formulario_btn2{
		background-color:#009999;
		font-size: 18px;
		display: block;
		padding: 10px 20px;
		color: #fff;
		text-decoration:none;
		border-radius: 10px;
	    box-shadow:10px 10px 50px rgb(234, 253, 253);
	}
	.formulario_btn3{
		background-color:#009999;
		font-size: 18px;
		display: block;
		padding: 10px 20px;
		color: #fff;
		text-decoration:none;
		border-radius: 10px;
	    box-shadow:10px 10px 50px rgb(234, 253, 253);
	
	}
	.formulario_btn4{
		background-color:#009999;
		font-size: 18px;
		display: block;
		padding: 10px 20px;
		color: #fff;
		text-decoration:none;
		border-radius: 10px;
	    box-shadow:10px 10px 50px rgb(234, 253, 253);
		
	}
	
	.formulario_btn5{
		background-color:#009999;
		position: right;
		font-size: 18px;
		display: block;
		padding: 10px 20px;
		color: #fff;
		text-decoration:none;
		border-radius: 10px;
	    box-shadow:10px 10px 50px rgb(234, 253, 253);
		
	}
	


	.contenedor_tabla{
		
		margin:50px auto;
		width:23%;
		
	}
	h2{
		text-align: center;
	   left:50%;
		top:50%;
		transform: translatex(-5%) translatey(20%);	
	}
	
	
	th{
		display: flex;
		justify-content: center;
		align-items: center;
		 text-align:left;
		width: 100%;
		padding: 5px;
	    left:50%;
		top:50%;
		transform: translatex(1%) translatey(-3%);
		background: rgba(11, 88, 168, 0.59);
	}
	th{
		display:flex;
		text-align: left;
		border: 2px solid #fff;
	}
	.modificar{
	 padding-left: 0;
	 left: 0;
	}
	td{
		
		width: 70%;
		padding: 0;
		text-align: center;
	    border: 2px solid #fff;
	    border-left: 50px;
	    background: rgba(11, 88, 168, 0.59);
	}
	.vista_wave{
	
	position: absolute;
	bottom: 0;
	left: 0;
	width: 101%;
	height: 180px;
	filter: brightness(1.75);
	left:50%;
	top:50%;
	transform: translatex(-50%) translatey(250%);	
}